/*tag*/
.blocTag {
    display: flex;
}

.tag {
    margin-right: 10px;
    background-color: #FF6060;
    padding: 1px 12px;
    height: max-content;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;



}

/*name image */
.imgAppartement {
    width: 100%;
    border-radius: 50%;
    height: 64px;


}

.blocImgAppartement {

    width: 64px;
    height: 64px;
    border-radius: 50%;

}

.nomAppartement {
    color: #FF6060;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    width: 93px;
    height: 52px;
    padding-right: 20px;
    margin: 0px;


}

.blocNomeImage {
    display: flex;
}


/*information*/
.information {
    display: flex;
}

/*title*/

.titleAppartemment {
    color: #FF6060;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
    width: auto;
    height: auto;

}

/*location*/
.location {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;

}

.blocInformation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}






/**/
.blocDescriptionÉquipements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


