.footer {
    background: #000000;
    color: white;
    width: 100%;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px
  
}

footer p {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}



@media (max-width: 768px) {
    .footer{
        height: 300px;
    }

 footer p {
    width: 375px;
height: 20px;
text-align: center;
}}

