.footer {
    background: #000000;
    color: white;
    width: 100%;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}