.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;


}

.lienNav {
    display: flex;
    align-items: center;
}

.lienAPropos {

    display: inline;

    width: 116px;
    height: 34px;
    color: red;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;




}

.lienAccueil {
    width: 136px;
    height: 34px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: red;
    margin-right: 25px;

}

@media (max-width: 768px) {
    .imgNav {
        height: 46px;
        width: 143px;
    }

    .lienAPropos {

        width: 66px;
        height: 17px;
        display: inline;

        font-size: 14px;
    }



    .lienNav {
        display: flex;
        align-items:baseline;
    }



    .lienAccueil {
        width: 66px;
        height: 17px;
        font-size: 14px;


    }
}
.lienNav a {
    text-decoration: none;
  }
  .lienNav a.active {
    text-decoration: underline;
  }
    